@inject ITimer MyTimer
@{
    ViewData["Title"] = "Cars";
}

<div class="text-center">
    <h1 class="display-4">Welcome in CatalogCARS</h1>
    <h>@foreach(CarViewModel ar in Model)
        {
            <div>
             <p> Car: @ar.Name Model: @ar.Model Prise: @ar.Price</p>
            </div>
        }
    </h>
    <div>
        @await Html.PartialAsync("Privacy")
        <p>@MyTimer.DatTime()</p>
    </div>
    <div>
        <form method="post">
            <label>Car</label>
            <input type="text" name="car"/>
            <label>Model</label>
            <input type="number" name="price"/>
            <button type="submit" name="send" >  </button>
        </form>
    </div>
</div>